*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    
    height: 4em;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 2em;
    position: relative;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.toggle-btn{
    z-index: 100;
    font-size: 1.7em;
}

.toggle-icon[name="close-icon"]{
    display: none;
}


h1{
    z-index: 999;
}


.sidebar{
    width: 40%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;


    transform: translateX(-100%);
    transition: all 0.5s linear;

    /* z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; */

}

.active{
    transform: translateX(0);
}


.navbar{
    display: flex;
    flex-direction: column;
}

.nav-link{
    padding: 1em 0;
    font-size: 20px;
}

@media screen and (max-width: 460px) {
    .sidebar{
        width: 100%;
    }

}